<div class="widget-container">
    <div class="widgets red">
      <span style="margin-bottom: 140px;margin-left: 70px;font-size: large;">REGISTERED MEMBERS</span><br>
      <span>256</span>
    </div>
    <div class="widgets blue">
        <span style="margin-bottom: 140px;margin-left: 70px;font-size: large;">VERIFIED MEMBERS</span><br>
        <span>105</span>
    </div>
    <div class="widgets green">
        <span style="margin-bottom: 140px;margin-left: 70px;font-size: large;">DENIED MEMBERS</span><br>
        <span style="margin-bottom: 5px;margin-left: 70px;">06</span>
    </div>
</div>
  

